.wraper{
    text-align: center;
    margin-top: 20%;
    width: 100%;
}
.formulario-ingreso{
    text-align: center;
    width: 50%;
    margin-top: 5%;
    margin-left: 24%;
}
.info-empresas{margin-left: 24%;}
.posicionador{
	text-align: center;
	margin-top: 15%;
}